{% load static %}
<!-- jQuery 1.11.0 mendatory first -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- Bootstrap Bundle JS with poppers -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

{% comment %} Slick Animation {% endcomment %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% comment %} AOS {% endcomment %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
