{% load static %}
<div class="left_col">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'dashboard' %}" class="site_title"><i class="fa fa-certificate"></i> <span>BIMTIAN</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{% static 'images/img.jpg' %}" alt="profile_image" class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General Section</h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-home"></i> Dashboard </a>
        </li>
        <li><a><i class="fa fa-edit"></i> Portfolio Site Form <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'portfolio_form' %}">Portfolio Info</a></li>
            <li><a href="{% url 'service_form' %}">My Services</a></li>
            <li><a href="{% url 'project_form' %}">My Projects</a></li>
            <li><a href="{% url 'education_form' %}">Education Info</a></li>
            <li><a href="{% url 'skill_form' %}">Professional Skill</a></li>
            <li><a href="{% url 'experience_form' %}">My Experince</a></li>
            <li><a href="{% url 'feedback_form' %}">Client Feedback</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Personal Info Form <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'user_info_form' %}">User Info</a></li>
            <li><a href="{% url 'present_address_form' %}">Present Address</a></li>
            <li><a href="{% url 'permanent_address_form' %}">Permanent Address</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-commenting"></i> Messages</a></li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
